services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - 6379:6379
    networks:
      - backend_network
    volumes:
      - redis_volume:/data
  postgresql:
    image: postgres:16
    container_name: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=gadget_bajar
    networks:
      - backend_network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  server:
    build:
      context: ./
      dockerfile: Dockerfile.dev
    container_name: server_container
    ports:
      - 5000:5000
    networks:
      - backend_network
    volumes:
      - './:/usr/src/app'
      - /usr/src/app/node_modules
    stop_grace_period: 8s
    depends_on:
      - redis
      - postgresql

networks:
  backend_network:
    name: backend_network
    driver: bridge

volumes:
  postgres_data:
  redis_volume:
